body{
    background: url(./media/loginimg.gif);
}


h1,label{
    color: white;
}

h1{
    font-size: 50px;
}


a:hover{
    background-color: black;
    

}

a{
    text-decoration: none;
    color: white;
}